@layer Component {
    .languageInterface {
        // Layout
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
        @include v-stack('left', 'top');
        width: 600px;
        height: 300px;
        padding: 15px;
        // Style
        border-radius: 16px;
        background-color: #0e0e0e;
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.20) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.50) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);

        // // Mods
        // border-radius: 16px;
        // background: linear-gradient(135deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
        // backdrop-filter: blur(50px);
        .searchbar {
            // Layout
            @include h-stack('left', 'center');
            width: 100%;
            gap: 20px;
            padding-bottom: 15px;
            // Style
            // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            img {
                // Layout
                width: 38px;
                height: auto;
                // Style
                filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
            }
            form{
                // Layout
                margin-top: 8px;
                align-self: flex-end;
                flex-grow: 1;
                input {
                    @include input-reset;
                    // Style
                    @include set-font(22px, 500);
                    color: white;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.75);
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
                    }
                }
            }
            .loadingSpinner {
                @include spinner-style;
            }
        }
        .results {
            // Layout
            margin-top: 10px;
            padding: 0px 10px;
            @include v-stack('left', 'top');
            width: 100%;
            height: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 10px; // Adjust scrollbar width
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1; // Adjust track background
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #888; // Adjust thumb color
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555; // Adjust thumb color on hover
            }

            &::-ms-scrollbar {
                width: thin;
                background-color: #f1f1f1; // Adjust color for IE and Edge
            }

            span {
                // Style
                @include set-font(20px, 600);
                color: rgb(255, 255, 255);
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
            }
            div {
                @include v-stack('left', 'center');
                width: 100%;
                div {
                    @include v-stack('left', 'center');
                    width: max-content;
                    padding: 0px 10px;
                    div {
                        // Layout
                        margin-top: 5px;
                        @include h-stack('left', 'center');
                        gap: 10px;
                        width: max-content;
                        height: 32px;
                        padding: 0px 0px; 
                        cursor: pointer;
                        img {
                            // Layout
                            width: 16px;
                            height: auto;
                            max-height: 16px;
                            // Style
                            filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
                        }
                        span {
                            // Layout
                            margin-top: 2px;
                            // Style
                            @include set-font(16px, 500);
                            color: #ffffff;
                            // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
                        }
                    }
                }
            }
        }
    }

}