
@mixin reset-button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    outline: inherit;
    text-align: inherit;
}

@mixin button-styles {
    @include reset-button;
    // Layout
    position: relative;
    padding: 7px 32px;
    text-align: center;

    @include v-stack('center', 'center');
    // Style
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: $primary-box-shadow;
    @include set-font(14px, 600);
    color: $primary-white;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform:translateY(-1px);
        background-color: $primary-color-hover;
    }
    &:active {
        transform: scale(0.95);
    }
    &.disabled {
        background-color: $secondary-gray;
        cursor: not-allowed;
    }
    &.loading {
        color: transparent;
        span {
            @include loading-style;
        }
    }
}
