
// Text Styles
$default-font-family: 'Inter', sans-serif;

// Colors
$primary-gray: #1C1C1C;
$secondary-gray: #313133;
$third-gray: #3E3D40;
$accent-gray: #414045;
$text-gray: #838285;
$border-gray: lighten($text-gray, 20%);
$primary-white: #ffffff;
$primary-white-hover: #e6e6e6;

$primary-black: rgba(0, 0, 0, 0.85);
$primary-modal-cover: rgba(78, 78, 78, 0.5);

$primary-color: #725dfd;
$primary-color-hover: #8e7dfd;

$primary-red: #ff6270;
$primary-red-hover: #ff818d;

$primary-yellow: #ffde69;
$primary-yellow-hover: #ffe587;

$primary-green: #5aa67a;
$primary-green-hover: #70cf98;

$primary-blue: #2884ff;
$primary-blue-hover: #539dff;

$neon-green: #49fc71;

// Shadows
$primary-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 3px rgba(255, 255, 255, 0.25);


// Glassmorphisms
@mixin primary-background {
    background: linear-gradient(252.85deg, #1C1C1C -1.91%, rgba(28, 28, 28, 0.81) 100%);
}
@mixin primary-glass {
    background: linear-gradient(269.72deg, rgba(255, 255, 255, 0.24) -11.31%, rgba(0, 0, 0, 0) 106.54%);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.42), inset 1px 1px 3px rgba(255, 255, 255, 0.25);
}