
// Colors
$primary-gray: #1c1c1c;
$secondary-gray: #2c2c2c;
$border-gray: #4c4c4c;
$text-gray: #cccccc;

$primary-white: #ffffff;
$primary-white-hover: #e6e6e6;

$primary-black: rgba(0, 0, 0, 0.85);
$primary-modal-cover: rgba(78, 78, 78, 0.5);

$primary-color: #4d91c0;
$primary-color-hover: #3d81b0;

$primary-red: #ff4e45;
$primary-green: #39b549;
// Typography
$default-font-family: 'Inter', sans-serif;