
@layer Component {
    .createSpaceModal {
        // Layout
        position: absolute;
        top: 0;
        left: 0;
        @include v-stack('center', 'center');
        width: 100vw;
        height: 100vh;
        // Style
        background-color: $primary-modal-cover;
        .modal {
            // Layout
            width: 385px;
            height: 230px;
            transform: translateY(-150px);
            @include v-stack('left', 'top');
            padding: 20px 30px 20px 20px;
            position: relative;
            // Style
            background-color: $primary-gray;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .closeButton {
                // Layout
                position: absolute;
                top: 10px;
                right: 10px;
                // Style
                color: $primary-red;
                cursor: pointer;
            }
            .inputHeader {
                // Layout
                margin-bottom: 10px;
                // Style
                @include set-font(18px, 700);
                color: $primary-white;
            }
            .input {
                @include reset-input;
                width: 90%;
                margin-left: 10px;
                color: $primary-white;
                padding: 5px 7px;
                border-radius: 5px;
                border: 1px solid $primary-light-gray;
                @include set-font(16px, 400);
                background-color: $secondary-gray;
            }
            .btn {
                @include reset-button;
                // Layout
                margin-top: 10px;
                margin-left: 10px;
                padding: 5px 7px;
                text-align: center;
                border-radius: 5px;
                // Style
                @include set-font(14px, 600);
                color: $primary-white;
                background-color: $primary-blue;
                &:hover {
                    background-color: $primary-blue-hover;
                }
            }
        }
    }
}
