@layer Construct {
    .dashboard {
        // Layout
        position: relative;
        @include v-stack('center', 'center');
        height: 100vh;
        width: 100vw;

        // Style
        background-color: $primary-gray;
        .box {
            // Layout
            @include v-stack('center', 'center');
            min-width: 600px;
            width: 80%;
            transform: translateY(-250px);
            .logo {
                width: 200px;
                height: auto;
                margin-bottom: 30px;
            }
            .table {
                // Layout
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));
                width: 100%;
                .tableHeaderItem {
                    // Layout
                    @include h-stack('center', 'center');
                    // Style
                    @include set-font(20px, 700);
                    color: $primary-white;
                } 
                .tableItem {
                    // Layout
                    @include h-stack('center', 'center');
                    // Style
                    @include set-font(18px, 400);
                    color: $primary-white;
                }
            }
            .btn {
                @include reset-button;
                // Layout
                @include h-stack('center', 'center');
                // Style
                @include set-font(18px, 700);
                color: $primary-black;
                background-color: $primary-white;
                border-radius: 5px;
                padding: 10px 20px;
                margin-top: 30px;
                cursor: pointer;
                &:hover {
                    background-color: $primary-white-hover;
                }
            }
        }

    }
}