
@layer Component {
    .selectionBoundingBox {
        // Control
        pointer-events: none;
        // Layout
        position: absolute;
        // Style
        border-radius: 2px;
        border: 2px solid #3DDF8C;
    }
}