@layer Global {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }
    html,
    body {
        max-width: 100vw;
        position: relative;
        overflow: hidden;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    button {
        @include button-styles;
    }
    input {
        @include input-styles;
    }
    h1 {
        @include h1-styles;
    }
    h2 {
        @include h2-styles;
    }
    h3 {
        @include h3-styles;
    }
    h4 {
        @include h4-styles;
    }
    h5 {
        @include h5-styles;
    }
}